@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Raleway&display=swap');

body{
    font-family: 'Piedra', serif;
font-family: 'Raleway', sans-serif;
}

.grad{
    background: #ffd89b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #19547b51, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #19547b4c, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}